Magdaly Rodriguez Ortiz 1815330

### Ejercicio 1.###

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
mat = int(input("Introduce tu matricula: "))
nom = input("Introduce tu nombre: ")

print ( nom, mat)

Introduce tu matricula: 1815330
Introduce tu nombre: Magdaly Rodriguez Ortiz
Magdaly Rodriguez Ortiz 1815330

### Ejercicio 2.###
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [2]:
ban = 1
while ban == 1:
    
    a = float(input("Introduce el primer numero: "))
    b = float(input("Introduce el segundo numero: ")) 
    print(" ")
    print("MENU ")
    print("1. Suma")
    print("2. Resta")
    print("3. División")
    print("4. Multiplicación")
    print("5. Exponente")
    print("6. Salir")
    print(" ")
    res = int(input("¿Que operacion desea realizar? "))
      
    if res == 1 :
        ressum = a + b
        print("El resultado de la suma es: ",ressum)
    elif res == 2 :
        resres = a - b
        print("El resultado de la resta es: ",resres)
    elif res == 3 :
        resdiv = a / b
        print("El resultado de la división es: ",resdiv)
    elif res == 4 :
        resmul = a * b
        print("El resultado de la multiplicación es: ",resmul)
    elif res == 5 :
        resexp = a ** b
        print("El resultado es: ",resexp)
    elif res == 6 :
        break
    else:
        print("     OPCION NO ENCONTRADA.")
    
    print(" ")
    ban = int(input("Si desea realizar otra operación oprima 1, de no ser asi oprima 0: "))
    print(" ")

Introduce el primer numero: 4
Introduce el segundo numero: 6

MENU
1. Suma
2. Resta
3. División
4. Multiplicación
5. Exponente
6. Salir

¿Que operacion desea realizar? 4
El resultado de la multiplicación es:  24.0

Si desea realizar otra operación oprima 1, de no ser asi oprima 0: 0

### Ejercicio 3.###
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [3]:
num = 3
lista =[]
for i in range (1,11):
    lista.append(num*i)

i = 0
sum = 0
while i < 10 :
    sum = sum + lista[i]
    i = i + 1

print("La suma de los elementos de la lista es: ", sum)

La suma de los elementos de la lista es:  165

### Ejercicio 4.###

Con una función de if else, revisar si un número es par o es impar.

In [4]:
x = int(input("Introduce un numero: "))

if x % 2 == 0 :
    print("El numero es par.")
else :
    print("El numero es impar.")

Introduce un numero: 5
El numero es impar.

-----------------------------------------------------------------
• Con una función de if else, revisar si un número es primo o no.

In [5]:
x = int(input("Introduce un numero: "))
divisor = 2
ban = 0
while (ban == 0) & (divisor < x):
    if x % divisor == 0 :
        ban = 1
    else :
        divisor = divisor + 1

if ban == 1:
    print ("El numero NO es primo")
else:
    print ("El numero es primo")

Introduce un numero: 234
El numero NO es primo

### Ejercicio 5.###

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [6]:
def Suma (a,b) :
    ressum = a + b
    print("El resultado de la suma es : ", ressum)

def Resta (a,b) :
    resres = a - b
    print("El resultado de la resta es : ", resres)

def Multiplicacion (a,b) :
    resmul = a * b
    print("El resultado de la multiplicacion es : ",resmul)
    
def Division (a,b) : 
    resdiv = a / b
    print("El resultado de la division es : ", resdiv)

def Exponente (a,b) :
    resexp = a ** b
    print("El resultado de la exponencial es : ", resexp)
    

ban = 1
while ban == 1:
    
    print(" ")
    print("MENU ")
    print("1. Suma")
    print("2. Resta")
    print("3. División")
    print("4. Multiplicación")
    print("5. Exponente")
    print("6. Salir")
    print(" ")
    res = int(input("¿Que operacion desea realizar? "))
 
    a = float(input("Introduce el primer numero: "))
    b = float(input("Introduce el segundo numero: ")) 
    if res == 1 :
        Suma(a,b)
    elif res == 2 :
        Resta(a,b)
    elif res == 3 :
        Division(a,b)
    elif res == 4 :
        Multiplicacion(a,b)
    elif res == 5 :
        Exponente(a,b)
    elif res == 6 :
        break
    else:
        print("     OPCION NO ENCONTRADA.")
    
    print(" ")
    ban = int(input("Si desea realizar otra operación oprima 1, de no ser asi oprima 0: "))
    print(" ")

MENU
1. Suma
2. Resta
3. División
4. Multiplicación
5. Exponente
6. Salir

¿Que operacion desea realizar? 1
Introduce el primer numero: 4
Introduce el segundo numero: 7
El resultado de la suma es :  11.0

Si desea realizar otra operación oprima 1, de no ser asi oprima 0: 0

## Ejercicios con estructuras básicas de python.##

### Tuplas###

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [7]:
flotante = 0.7
entero = 7
booleana = True
comp = 3j

print("El tipo de variable de ",flotante, " es : ")
print(type(flotante))
print("El tipo de variable de ",entero, " es : ")
print(type(entero))
print("El tipo de variable de ",booleana, " es : ")
print(type(booleana))
print("El tipo de variable de ",comp, " es : ")
print(type(comp))

El tipo de variable de  0.7  es :
<class 'float'>
El tipo de variable de  7  es :
<class 'int'>
El tipo de variable de  True  es :
<class 'bool'>
El tipo de variable de  3j  es :
<class 'complex'>

----------------------------------------------------
Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [8]:
tupla1 = (5,3,8,4,9)

print("El primer valor de la tupla es : ", tupla1[0])
print("El ultimo valor e la tupla es : ", tupla1[-1])

El primer valor de la tupla es :  5
El ultimo valor e la tupla es :  9

-------------------------------------------------------

Añadir 3 valores de string a la tupla.

In [9]:
tupla1 = tupla1 + ('Hola','a','todos')

---------------------------------------------

Verificar si una variable existe dentro de la tupla.

In [10]:
print("¿La variable '8' esta en la tupla llamada 'tupla1'? ", 8 in tupla1)

¿La variable '8' esta en la tupla llamada 'tupla1'?  True

### Listas###

Crear una lista con 40 elementos aleatorios enteros.

In [11]:
from random import randrange
lista1=[]
for i in range (0,40):
    lista1.append(randrange(10000))

print(lista1)

[6230, 5815, 4672, 593, 129, 8911, 5202, 7498, 7489, 307, 3962, 5325, 9424, 7825, 9985, 1778, 1963, 2307, 3976, 826, 9575, 3774, 1724, 1890, 890, 1612, 3825, 5786, 8840, 1996, 4645, 3610, 6137, 3978, 2644, 9374, 6464, 5395, 9688, 6027]

-------------------------------
Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [12]:
listapares=[]
listaimpares=[]

def Lista_nueva(lista1):
    for i in range (0,40):
        if lista1[i] % 2 == 0 :
            listapares.append(lista1[i])
 
        else:
            listaimpares.append(lista1[i])
    
    print("La nueva lista de pares es : ",listapares)
    print("La nueva lista de impares es : ",listaimpares)

Lista_nueva(lista1)

La nueva lista de pares es :  [6230, 4672, 5202, 7498, 3962, 9424, 1778, 3976, 826, 3774, 1724, 1890, 890, 1612, 5786, 8840, 1996, 3610, 3978, 2644, 9374, 6464, 9688]
La nueva lista de impares es :  [5815, 593, 129, 8911, 7489, 307, 5325, 7825, 9985, 1963, 2307, 9575, 3825, 4645, 6137, 5395, 6027]

-----------------------------------
Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [13]:
varpar = len(listapares)
print(varpar)
varimpar = len(listaimpares)
print(varimpar)

23
17

----------------------------------------------
Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [14]:
def Orden(lista1):
    listapares=[]
    listaimpares=[]
    for i in range (0,40):
        if lista1[i] % 2 == 0 :
            listapares.append(lista1[i])
 
        else:
            listaimpares.append(lista1[i])
    print("La lista de pares ordenada de menor a mayor : ",(sorted(listapares)))
    print("La lista de impares ordenada de mayor a menor : ",(sorted(listapares,reverse = True)))
    
Orden(lista1)

La lista de pares ordenada de menor a mayor :  [826, 890, 1612, 1724, 1778, 1890, 1996, 2644, 3610, 3774, 3962, 3976, 3978, 4672, 5202, 5786, 6230, 6464, 7498, 8840, 9374, 9424, 9688]
La lista de impares ordenada de mayor a menor :  [9688, 9424, 9374, 8840, 7498, 6464, 6230, 5786, 5202, 4672, 3978, 3976, 3962, 3774, 3610, 2644, 1996, 1890, 1778, 1724, 1612, 890, 826]

-----------------------------------------------------------------
Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [15]:
listaejemplo=[]
for i in range (0,40):
    listaejemplo.append(randrange(100))
    
print("La listaejemplo es : ",listaejemplo)
print(" ")
listaejemplo.pop()
print("La listaejemplo con el ultimo dato eliminado es : ",listaejemplo)
print(" ")
listaejemplo.extend([5,2,1])
print("La listaejemplo extendida es : ",listaejemplo)
print(" ")
listaejemplo.sort()
print("La listaejemplo ordenada de menor a mayor es : ",listaejemplo)
print(" ")
listaejemplo.reverse()
print("La listaejemplo ordenada de mayor a menor es : ",listaejemplo)
print(" ")
listaejemplo.clear()
print("Datos eliminados de la lista ",listaejemplo)

La listaejemplo es :  [28, 4, 20, 7, 18, 17, 25, 31, 15, 82, 72, 62, 7, 27, 95, 71, 74, 95, 33, 64, 98, 16, 5, 56, 32, 29, 63, 87, 26, 10, 95, 32, 0, 46, 8, 58, 56, 1, 44, 0]

La listaejemplo con el ultimo dato eliminado es :  [28, 4, 20, 7, 18, 17, 25, 31, 15, 82, 72, 62, 7, 27, 95, 71, 74, 95, 33, 64, 98, 16, 5, 56, 32, 29, 63, 87, 26, 10, 95, 32, 0, 46, 8, 58, 56, 1, 44]

La listaejemplo extendida es :  [28, 4, 20, 7, 18, 17, 25, 31, 15, 82, 72, 62, 7, 27, 95, 71, 74, 95, 33, 64, 98, 16, 5, 56, 32, 29, 63, 87, 26, 10, 95, 32, 0, 46, 8, 58, 56, 1, 44, 5, 2, 1]

La listaejemplo ordenada de menor a mayor es :  [0, 1, 1, 2, 4, 5, 5, 7, 7, 8, 10, 15, 16, 17, 18, 20, 25, 26, 27, 28, 29, 31, 32, 32, 33, 44, 46, 56, 56, 58, 62, 63, 64, 71, 72, 74, 82, 87, 95, 95, 95, 98]

La listaejemplo ordenada de mayor a menor es :  [98, 95, 95, 95, 87, 82, 74, 72, 71, 64, 63, 62, 58, 56, 56, 46, 44, 33, 32, 32, 31, 29, 28, 27, 26, 25, 20, 18, 17, 16, 15, 10, 8, 7, 7, 5, 5, 4, 2, 1, 1, 0]

Datos eliminados de la lista  []

### Diccionarios###

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [16]:
personas = {"Ricardo":24,"Gerardo":26,"Luis":20,"Juan":21,"Alejandra":23,"Sofia":20}

----------------------
Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [17]:
listaedades = list(personas.values())
j = len(listaedades) - 1

ban = 0
while(ban == 0):
    ban = 1
    for i in range(0, j):
        if listaedades[i] > listaedades[i+1]:
            ban2 = listaedades[i]
            listaedades[i] = listaedades[i+1]
            listaedades[i+1] = ban2
            ban = 0

print(listaedades)

[20, 20, 21, 23, 24, 26]

--------------------------------------
Usando el diccionario y un loop, imprimir solo los nombres.

In [18]:
i = 0 
while i < 1 :
    print(personas.keys())
    i = i + 1

dict_keys(['Ricardo', 'Gerardo', 'Luis', 'Juan', 'Alejandra', 'Sofia'])

-----------------------------------------
Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [19]:
personas["Cristina"] = 27
personas["Alonso"] = 22

print(personas)

{'Ricardo': 24, 'Gerardo': 26, 'Luis': 20, 'Juan': 21, 'Alejandra': 23, 'Sofia': 20, 'Cristina': 27, 'Alonso': 22}

### Sets.###

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [20]:
import numpy as np
set1 = set()
for i in range(0,100):
    set1.add(np.random.randint(1,26)) 
print(set1)

{1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

----------------------------------
Comprueba la longitud de tu set.

In [21]:
len(set1)

23

---------------------------------------
Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [22]:
import numpy as np
lista2=[]
for i in range (0,5):
    lista2.append(np.random.randint(1,11))

print(lista2)
for i in range (0,5):   
    if lista2[i] in set1:
        print("El elemento que esta en la posicion",i,"de la lista creada si esta en el set inicial")
    else:
        print("El elemento que esta en la posicion",i,"de la lista creada no esta en el set inicial")

[6, 10, 9, 8, 9]
El elemento que esta en la posicion 0 de la lista creada si esta en el set inicial
El elemento que esta en la posicion 1 de la lista creada si esta en el set inicial
El elemento que esta en la posicion 2 de la lista creada si esta en el set inicial
El elemento que esta en la posicion 3 de la lista creada si esta en el set inicial
El elemento que esta en la posicion 4 de la lista creada si esta en el set inicial