Magdaly Rodriguez Ortiz 1815330

•Programa 1 Hola mundo

In [1]:
print("Hola mundo")

Hola mundo

**Ejercicio 1.** 

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [2]:
mat = int(input("Introduce tu matricula: "))
nom = input("Introduce tu nombre: ")

print ( nom, mat)

Introduce tu matricula: 1815330
Introduce tu nombre: Magdaly Rodriguez Ortiz
Magdaly Rodriguez Ortiz 1815330

•Programa 2: Matemáticas sencillas

In [3]:
a = 10
b = 54

c = a + b**2
print (a, b, c)

10 54 2926

Input del usuario:

In [4]:
a1 = int(input("Introduce un número:" ))
b1 = int(input("Introduce otro número: "))

print ("Primer número: ", a1)
print("Segundo número: ", b1)

Introduce un número:3
Introduce otro número: 78
Primer número:  3
Segundo número:  78

**Ejercicio 2.**
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [5]:
ban = 1
while ban == 1:
    
    a = float(input("Introduce el primer numero: "))
    b = float(input("Introduce el segundo numero: ")) 
    print(" ")
    print("MENU ")
    print("1. Suma")
    print("2. Resta")
    print("3. División")
    print("4. Multiplicación")
    print("5. Exponente")
    print("6. Salir")
    print(" ")
    res = int(input("¿Que operacion desea realizar? "))
      
    if res == 1 :
        ressum = a + b
        print("El resultado de la suma es: ",ressum)
    elif res == 2 :
        resres = a - b
        print("El resultado de la resta es: ",resres)
    elif res == 3 :
        resdiv = a / b
        print("El resultado de la división es: ",resdiv)
    elif res == 4 :
        resmul = a * b
        print("El resultado de la multiplicación es: ",esmul)
    elif res == 5 :
        resexp = a ** b
        print("El resultado es: ",resexp)
    elif res == 6 :
        break
    else:
        print("     OPCION NO ENCONTRADA.")
    
    print(" ")
    ban = int(input("Si desea realizar otra operación oprima 1, de no ser asi oprima 0: "))
    print(" ")

Introduce el primer numero: 63
Introduce el segundo numero: 23

MENU
1. Suma
2. Resta
3. División
4. Multiplicación
5. Exponente
6. Salir

¿Que operacion desea realizar? 1
El resultado de la suma es:  86.0

Si desea realizar otra operación oprima 1, de no ser asi oprima 0: 0

Utilizando el loop de while

In [6]:
i=1
while i <= 10:
    print (i)
    i=i+1
    
#i =+1

1
2
3
4
5
6
7
8
9
10

Utilizando la función de range:

In [7]:
print ("range(10) --> ", list(range(10)))
print ("range(0,20) --> ", list(range(0,20)))
print ("range(10,20) --> ", list(range(10,20)))
print ("range(0,20,2) --> ", list(range(0,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2) --> ", list(range(-10,-20,-2)))

range(10) -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0,20) -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(10,20) -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2) -->  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2) -->  [-10, -12, -14, -16, -18]

Utilizando la función de range en el loop de for:

In [8]:
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1,11):
    print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

**Ejercicio 3.**
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [10]:
num = 3
lista =[]
for i in range (1,11):
    lista.append(num*i)

i = 0
sum = 0
while i < 10 :
    sum = sum + lista[i]
    i = i + 1

print("La suma de los elementos de la lista es: ", sum)

La suma de los elementos de la lista es:  165

In [11]:

a = int(input("Introduce primer número: "))
b = int(input("Introduce segundo número: "))
if  a > b: 
    print (a," > ",b)
else:
    print (a," < ",b)

Introduce primer número: 23
Introduce segundo número: 43
23  <  43

**Ejercicio 4.**

Con una función de if else, revisar si un número es par o es impar.

In [12]:
x = int(input("Introduce un numero: "))

if x % 2 == 0 :
    print("El numero es par.")
else :
    print("El numero es impar.")

KeyboardInterrupt: Interrupted by user

-----------------------------------------------------------------
Con una función de if else, revisar si un número es primo o no.

In [13]:
x = int(input("Introduce un numero: "))
divisor = 2
ban = 0
while (ban == 0) & (divisor < x):
    if x % divisor == 0 :
        ban = 1
    else :
        divisor = divisor + 1

if ban == 1:
    print ("El numero NO es primo")
else:
    print ("El numero es primo")

Introduce un numero: 12
El numero NO es primo


Uso de funciones en python:

In [14]:

def Suma(a,b):
    c=a+b
    return c

print ("Suma(10,20) -->", Suma(10,20))
print ("Suma(20,50) -->", Suma(20,-50)) 
print ("Suma(80,200) -->", Suma(80,20.7))

Suma(10,20) --> 30
Suma(20,50) --> -30
Suma(80,200) --> 100.7

**Ejercicio 5.**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [15]:
def Suma (a,b) :
    ressum = a + b
    print("El resultado de la suma es : ", ressum)

def Resta (a,b) :
    resres = a - b
    print("El resultado de la resta es : ", resres)

def Multiplicacion (a,b) :
    resmul = a * b
    print("El resultado de la multiplicacion es : ",resmul)
    
def Division (a,b) : 
    resdiv = a / b
    print("El resultado de la division es : ", resdiv)

def Exponente (a,b) :
    resexp = a ** b
    print("El resultado de la exponencial es : ", resexp)
    

ban = 1
while ban == 1:
    
    print(" ")
    print("MENU ")
    print("1. Suma")
    print("2. Resta")
    print("3. División")
    print("4. Multiplicación")
    print("5. Exponente")
    print("6. Salir")
    print(" ")
    res = int(input("¿Que operacion desea realizar? "))
 
    a = float(input("Introduce el primer numero: "))
    b = float(input("Introduce el segundo numero: ")) 
    if res == 1 :
        Suma(a,b)
    elif res == 2 :
        Resta(a,b)
    elif res == 3 :
        Division(a,b)
    elif res == 4 :
        Multiplicacion(a,b)
    elif res == 5 :
        Exponente(a,b)
    elif res == 6 :
        break
    else:
        print("     OPCION NO ENCONTRADA.")
    
    print(" ")
    ban = int(input("Si desea realizar otra operación oprima 1, de no ser asi oprima 0: "))
    print(" ")

MENU
1. Suma
2. Resta
3. División
4. Multiplicación
5. Exponente
6. Salir

¿Que operacion desea realizar? 4
Introduce el primer numero: 5
Introduce el segundo numero: 6
El resultado de la multiplicacion es :  30.0

Si desea realizar otra operación oprima 1, de no ser asi oprima 0: 0

Funciones matemáticas en la librería de math en python:

In [16]:
import math as m

print ("Función exponencial --> ", m.exp(-200))  
print ("Log --> ", m.log(100,2)) # Log
print ("Log  --> ", m.log(100,10))# Log
print ("Log 10 --> ", m.log10(100)) # Log 10
print ("Coseno --> ", m.cos(30))    # cos
print ("Seno --> ", m.sin(30))    # sin
print ("Tangente --> ", m.tan(30))    # tan
print ("Raiz cuadrada --> ", m.sqrt(324)) #Raiz
print ("Valor techo --> ", m.ceil(89.9)) #Valor techo
print ("Valor piso --> ", m.floor(89.9)) #Valor piso

Función exponencial -->  1.3838965267367376e-87
Log -->  6.643856189774725
Log  -->  2.0
Log 10 -->  2.0
Coseno -->  0.15425144988758405
Seno -->  -0.9880316240928618
Tangente -->  -6.405331196646276
Raiz cuadrada -->  18.0
Valor techo -->  90
Valor piso -->  89

Como utilizar variables de string como listas para buscar elementos:

In [17]:
var1 = 'Hola mundo!'
var2 = "Programas de python"
 
print ("var1 --> ", var1)
print ("var2 --> ",var2)
print ("var1[0] --> ", var1[0])
print ("var2[1:5] --> ", var2[1:5])
print ("var2[:-5] --> ", var2[:-5])

var1 -->  Hola mundo!
var2 -->  Programas de python
var1[0] -->  H
var2[1:5] -->  rogr
var2[:-5] -->  Programas de p

In [18]:
var1 = 'Hola mundo!'
var2 = "Programas de python"

print ("var1 --> ", var1)
print ("var2 --> ",var2)

print ("\nTamaño de var1 --> : ", len(var1))
print ("Tamaño de var2 --> : ", len(var2))

print ("\nUppercase para var1 --> : ", var1.upper())
print ("Upper case para var2 --> : ", var2.upper())

print ("\nLower case para var1 --> : ", var1.lower())
print ("Lower case para var2 --> : ", var2.lower())

var1 -->  Hola mundo!
var2 -->  Programas de python

Tamaño de var1 --> :  11
Tamaño de var2 --> :  19

Uppercase para var1 --> :  HOLA MUNDO!
Upper case para var2 --> :  PROGRAMAS DE PYTHON

Lower case para var1 --> :  hola mundo!
Lower case para var2 --> :  programas de python

Con input del usuario, revisar como introducir valores de numeros, letras y flotantes dentro de un print:

In [19]:
name=input("Introduce tu nombre: ")
age=int(input("Introduce tu edad: "))
price=float(input("Precio de tu item: "))
s="Tu nombre es %s, edad es %d y el precio de tu item es %f" %(name.upper(),age,price)
print (s)

Introduce tu nombre: magdaly
Introduce tu edad: 20
Precio de tu item: 123
Tu nombre es MAGDALY, edad es 20 y el precio de tu item es 123.000000

Introducción para el manejo de errores en Python:

In [20]:
for i in range(-5,6):
    print ("100/",i," --> ", 100/i)

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0

ZeroDivisionError: division by zero

In [21]:
for i in range(-5,6):
    try:
        print ("100/",i," --> ", 100/i)
    except:
        print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [22]:
archivo=input("Introduce el nombre del archivo: ")
fp=open(archivo)
fp.close()
print ("Terminado")

Introduce el nombre del archivo: ar

FileNotFoundError: [Errno 2] No such file or directory: 'ar'

In [23]:
archivo=input("Introduce el nombre del archivo: ")
try:
    fp=open(archivo)
    fp.close()
except:
    print ("Error !! Archivo no encontrado")

print ("Terminado")

Introduce el nombre del archivo: ar
Error !! Archivo no encontrado
Terminado

In [24]:
lista1 = [1,2,3,4,5]

for i in range(8):
    try:
        print (i," --> ", lista1[i])
    except:
        print ("error")

    
len(lista1)

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

5

In [25]:
lista1 = [1, 2, 3, 4, 5, 6, 7]

for i in range(len(lista1)):
    try:
        print(i, "-->", lista1[i])
    except:
        print("Error")

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
5 --> 6
6 --> 7

Creación de numeros aleatorios en Python:

In [26]:
import random as r
print (r.random())
print (r.randint(1, 100))
print (r.uniform(1, 100))

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (r.sample(A, 4))

0.333732944621452
50
56.698245752550974
[2, 5, 7, 6]

***Ejercicios con estructuras básicas de python.***

****Tuplas****

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [27]:
flotante = 0.7
entero = 7
booleana = True
comp = 3j

print("El tipo de variable de ",flotante, " es : ")
print(type(flotante))
print("El tipo de variable de ",entero, " es : ")
print(type(entero))
print("El tipo de variable de ",booleana, " es : ")
print(type(booleana))
print("El tipo de variable de ",comp, " es : ")
print(type(comp))

El tipo de variable de  0.7  es :
<class 'float'>
El tipo de variable de  7  es :
<class 'int'>
El tipo de variable de  True  es :
<class 'bool'>
El tipo de variable de  3j  es :
<class 'complex'>

----------------------------------------------------
Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [28]:
tupla1 = (5,3,8,4,9)

print("El primer valor de la tupla es : ", tupla1[0])
print("El ultimo valor e la tupla es : ", tupla1[-1])

El primer valor de la tupla es :  5
El ultimo valor e la tupla es :  9

-------------------------------------------------------

Añadir 3 valores de string a la tupla.

In [29]:
tupla1 = tupla1 + ('Hola','a','todos')

---------------------------------------------

Verificar si una variable existe dentro de la tupla.

In [30]:
print("¿La variable '8' esta en la tupla llamada 'tupla1'? ", 8 in tupla1)

¿La variable '8' esta en la tupla llamada 'tupla1'?  True

**Listas**

Crear una lista con 40 elementos aleatorios enteros.

In [31]:
from random import randrange
lista1=[]
for i in range (0,40):
    lista1.append(randrange(10000))

print(lista1)

[6496, 9829, 2026, 9443, 7673, 3534, 7265, 5142, 9285, 254, 5967, 4602, 5923, 2741, 7308, 2322, 8863, 701, 7024, 3084, 4993, 8841, 3834, 4610, 8635, 7925, 1584, 1588, 2425, 5047, 1208, 1704, 9960, 1128, 712, 4854, 1363, 4061, 1253, 6437]

-------------------------------
Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [32]:
listapares=[]
listaimpares=[]

def Lista_nueva(lista1):
    for i in range (0,40):
        if lista1[i] % 2 == 0 :
            listapares.append(lista1[i])
 
        else:
            listaimpares.append(lista1[i])
    
    print("La nueva lista de pares es : ",listapares)
    print("La nueva lista de impares es : ",listaimpares)

Lista_nueva(lista1)

La nueva lista de pares es :  [6496, 2026, 3534, 5142, 254, 4602, 7308, 2322, 7024, 3084, 3834, 4610, 1584, 1588, 1208, 1704, 9960, 1128, 712, 4854]
La nueva lista de impares es :  [9829, 9443, 7673, 7265, 9285, 5967, 5923, 2741, 8863, 701, 4993, 8841, 8635, 7925, 2425, 5047, 1363, 4061, 1253, 6437]

-----------------------------------
Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [33]:
varpar = len(listapares)
print(varpar)
varimpar = len(listaimpares)
print(varimpar)

20
20

----------------------------------------------
Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [34]:
def Orden(lista1):
    listapares=[]
    listaimpares=[]
    for i in range (0,40):
        if lista1[i] % 2 == 0 :
            listapares.append(lista1[i])
 
        else:
            listaimpares.append(lista1[i])
    print("La lista de pares ordenada de menor a mayor : ",(sorted(listapares)))
    print("La lista de impares ordenada de mayor a menor : ",(sorted(listapares,reverse = True)))
    
Orden(lista1)

La lista de pares ordenada de menor a mayor :  [254, 712, 1128, 1208, 1584, 1588, 1704, 2026, 2322, 3084, 3534, 3834, 4602, 4610, 4854, 5142, 6496, 7024, 7308, 9960]
La lista de impares ordenada de mayor a menor :  [9960, 7308, 7024, 6496, 5142, 4854, 4610, 4602, 3834, 3534, 3084, 2322, 2026, 1704, 1588, 1584, 1208, 1128, 712, 254]

-----------------------------------------------------------------
Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [35]:
listaejemplo=[]
for i in range (0,40):
    listaejemplo.append(randrange(100))
    
print("La listaejemplo es : ",listaejemplo)
print(" ")
listaejemplo.pop()
print("La listaejemplo con el ultimo dato eliminado es : ",listaejemplo)
print(" ")
listaejemplo.extend([5,2,1])
print("La listaejemplo extendida es : ",listaejemplo)
print(" ")
listaejemplo.sort()
print("La listaejemplo ordenada de menor a mayor es : ",listaejemplo)
print(" ")
listaejemplo.reverse()
print("La listaejemplo ordenada de mayor a menor es : ",listaejemplo)
print(" ")
listaejemplo.clear()
print("Datos eliminados de la lista ",listaejemplo)

La listaejemplo es :  [73, 90, 59, 0, 4, 93, 4, 65, 1, 91, 26, 8, 18, 3, 96, 94, 26, 91, 31, 61, 99, 62, 68, 61, 92, 73, 62, 90, 4, 91, 32, 84, 53, 94, 93, 29, 32, 17, 25, 17]

La listaejemplo con el ultimo dato eliminado es :  [73, 90, 59, 0, 4, 93, 4, 65, 1, 91, 26, 8, 18, 3, 96, 94, 26, 91, 31, 61, 99, 62, 68, 61, 92, 73, 62, 90, 4, 91, 32, 84, 53, 94, 93, 29, 32, 17, 25]

La listaejemplo extendida es :  [73, 90, 59, 0, 4, 93, 4, 65, 1, 91, 26, 8, 18, 3, 96, 94, 26, 91, 31, 61, 99, 62, 68, 61, 92, 73, 62, 90, 4, 91, 32, 84, 53, 94, 93, 29, 32, 17, 25, 5, 2, 1]

La listaejemplo ordenada de menor a mayor es :  [0, 1, 1, 2, 3, 4, 4, 4, 5, 8, 17, 18, 25, 26, 26, 29, 31, 32, 32, 53, 59, 61, 61, 62, 62, 65, 68, 73, 73, 84, 90, 90, 91, 91, 91, 92, 93, 93, 94, 94, 96, 99]

La listaejemplo ordenada de mayor a menor es :  [99, 96, 94, 94, 93, 93, 92, 91, 91, 91, 90, 90, 84, 73, 73, 68, 65, 62, 62, 61, 61, 59, 53, 32, 32, 31, 29, 26, 26, 25, 18, 17, 8, 5, 4, 4, 4, 3, 2, 1, 1, 0]

Datos eliminados de la lista  []

**Diccionarios**

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [36]:
personas = {"Ricardo":24,"Gerardo":26,"Luis":20,"Juan":21,"Alejandra":23,"Sofia":20}

----------------------
Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [37]:
listaedades = list(personas.values())
j = len(listaedades) - 1

ban = 0
while(ban == 0):
    ban = 1
    for i in range(0, j):
        if listaedades[i] > listaedades[i+1]:
            ban2 = listaedades[i]
            listaedades[i] = listaedades[i+1]
            listaedades[i+1] = ban2
            ban = 0

print(listaedades)

[20, 20, 21, 23, 24, 26]

--------------------------------------
Usando el diccionario y un loop, imprimir solo los nombres.

In [38]:
i = 0 
while i < 1 :
    print(personas.keys())
    i = i + 1

dict_keys(['Ricardo', 'Gerardo', 'Luis', 'Juan', 'Alejandra', 'Sofia'])

-----------------------------------------
Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [39]:
personas["Cristina"] = 27
personas["Alonso"] = 22

print(personas)

{'Ricardo': 24, 'Gerardo': 26, 'Luis': 20, 'Juan': 21, 'Alejandra': 23, 'Sofia': 20, 'Cristina': 27, 'Alonso': 22}

**Sets.**

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [40]:
set1 = {randrange(10)}
for i in range(0,99):
    set1.add(randrange(25)) 
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24}

----------------------------------
Comprueba la longitud de tu set.

In [41]:
len(set1)

24

---------------------------------------
Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [42]:
lista2=[]
for i in range (0,5):
    lista2.append(randrange(10))

print(lista2)
for i in range (0,5):   
    if lista2[i] in set1:
        print("El elemento ",i,"de la lista creada esta en el set inicial")
    else:
        print("El elemento ",i,"de la lista creada no esta en el set inicial")

[8, 7, 0, 2, 3]
El elemento  0 de la lista creada esta en el set inicial
El elemento  1 de la lista creada esta en el set inicial
El elemento  2 de la lista creada esta en el set inicial
El elemento  3 de la lista creada esta en el set inicial
El elemento  4 de la lista creada esta en el set inicial